
	body{
		background-color: #3d3d3d;
		}
	a{
		text-decoration: none;
	}
	ul{
		margin: 3px;
		padding: 3px;
		list-style: none;
	}
	.manu a{
		background-color: #3d3d3d;
		padding: 10px;
		display: block;
		text-decoration: none;
		border-bottom:1px solid white;
		color:white;

	}
	.menu a:hover{
		background: #666;
		transition: 1s all;
	}
	.side{
		width: 200px;
		margin: 20px;
		background-color: #3d3d3d;
		padding: 10px;
		display: block;
		text-decoration: none;
		

	}
	.side a:hover{
		background-color: #666;
		transition: 0.8s all;
		padding: 10px 10px 2px;

	}
	.menu__list{
		list-style: none;
		border-bottom: 1px solid white ;
		border-bottom-opacity:30%;
		position: relative;
		border-right: 10px solid transparent;
	}
	#meme{
		color:white;
	}	
	#tv{
		color: white;
	}
	#dz{
		color:white;
	}
	.menu_drop{
		position: absolute;
		width: 100%;
		left: 100%;
		top: -9999em;
		opacity: 0;
		transition: 0.8s opacity;
		border-left: 10px solid ;
	}
	.menu__list:hover .menu_drop{
		opacity: 1;
		background-color: #3d3d3d; 
		top: 0;
	}
	* {
		margin: 0;
		padding: 0;
		font-family: Trebuchet MS;
	}
	
	}html, body {
		width: 100%;
		height: 100%;
	}
	header, footer {
		width: 98%;
		float: left;
		background-color: #2a2a2a;
		padding: 1%;
	}
	header .logotype, footer .logotype {
		float: left;
		color: white;
		padding: 1%;
	}
	header ul, footer ul {
		float: right;
		width: 50%;
		list-style: none;
	}
	header ul li, footer ul li {
		float: right;
		display: inline-block;
		padding: 2%;
	}
	header ul li a, footer ul li a {
		text-decoration: none;
		color: white;
	}
	.promo {
		min-height: 60%;
		background-color:green;
		padding: 50% 0 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image:url('5b2.jpg');	
		background-position: fixed;
	}
	.promo h1 {
		color: white;
		text-align: center;
		margin: 0 0 5% 0;
	}
	.promo p {
		width: 40%;
		color: white;
		text-align: center;
		margin: auto;
	} 
	.text {
		width: 80%;
		margin: auto;
	}
	.text li {
		width: 40%;
		margin: 5%;
		float: left;
		list-style: none;
	}
	.text p {
		margin: 5% 0;
	}
	.text img {
		width: 100%;
	}
	#mel{
		color:#005FA0;
	}
	.tal{
		color:white;
	}
	.a125{
		color:red;
	}
	#mel{
		color:#005FA0;
	}
	.tal{
		color:white;
	}
	#mel{
		color:#005FA0;
	}	
	.tv{
		text-align: center;
		color:lime;
	}
	#osayte{
		color:#005FA0;
	}	
	#uchenyky{
		color:white;
	}

